/* ---------------------------- [Section styles] ----------------------------
*/

/* ------------------------------------------------------- [Section wrappers]
*/
.section-inner {
    display: block;
    width: auto;
    margin: 0 auto;
    padding: 80px 0;
}

/* -------------------------------------------------------- [Section heading]
*/
.section-heading {
    display: block;
    max-width: 600px;
    margin-bottom: 30px;
    font-size: 35px;
    color: var(--main-dark-colour);
    font-weight: 200;
    text-align: left;
    line-height: 50px;
}

.heading-right {
    text-align: end;
    margin-left: auto;
    margin-right: 0;
}

/* ----------------------------------------------------------- [Main heading]
*/
.heading-styled {
    position: relative;
    font-weight: 400;
}

.heading-styled:before {
    content: "";
    position: absolute;
    bottom: 7px;
    z-index: -1;
    height: 11px;
    width: 100%;
    background: var(--main-accent-colour);
}

/* ----------------------------- [Hero section] -----------------------------
*/

/* ----------------------------------------------------- [Text under heading]
*/
.section-heading + p {
    max-width: 600px;
    font-size: 20px;
    color: #737373;
    font-weight: 300;
    text-align: left;
    line-height: 40px;
}

.header-link {
    display: inline-block;
    padding: 0 5px;
    font-weight: 400;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
}

/* -------------------------- [Experience section] --------------------------
*/

/* -------------------------------------------------------- [Experience list]
*/
.experience-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 450px;
    margin: auto;
}

/* ----------------------------------------------------- [Experience heading]
*/
.experience-list + .section-heading {
    margin-bottom: 0;
    margin-top: 30px;
}

/* ------------------------------------------------------- [Experience point]
*/
.experience-list .point-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.experience-list .point {
    position: relative;
    height: 50px;
    width: 50px;
    background: var(--main-dark-colour);
    border: 2px solid var(--main-dark-colour);
    border-radius: 25px;
    cursor: pointer;
}

.experience-list .point-wrapper:last-child .point {
    background: var(--main-light-colour);
    border: 3px dashed var(--main-dark-colour);
}

.experience-list .point-wrapper:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.point:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 10px;
    width: 10px;
    margin: auto;
    box-shadow: 0 0 0 rgb(247, 219, 97);
    animation: pulse 2s infinite;
    background: var(--main-accent-colour);
    border-radius: 25px;
    transition: all 500ms ease-in-out;
}

/* -------------------------------------------------- [Experience point line]
*/
.experience-list .point-wrapper:nth-child(odd):before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    right: 0;
    height: 5px;
    width: 100%;
    background: var(--main-dark-colour);
    margin: auto;
}

.experience-list .point-wrapper:nth-child(even):before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    right: 0;
    height: 5px;
    width: 145%;
    background: var(--main-dark-colour);
    margin: auto;
    transform-origin: left;
    transform: rotate(-225deg);
}

.experience-list .point-wrapper:last-child:before {
    background: none;
    height: 0;
    border-top: 5px dashed var(--main-dark-colour);
}

/* -------------------------------------------------- [Experience point card]
*/
.experience-content {
    position: absolute;
    top: 13px;
    left: 0;
    bottom: 0;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 95%;
    width: 95%;
    padding: 35px 10px 35px 10px;
    margin: auto;
    background: var(--main-light-colour);
    border-radius: 3px;
    transition: all 500ms ease-in-out;
    transform: scale(0);
    opacity: 0;
    transform-origin: center;
}

.card-visible .experience-content {
    transform: scale(1);
    opacity: 1;
}

.experience-content .info {
    position: absolute;
    bottom: 5px;
    right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    background: var(--main-accent-colour);
    color: var(--main-light-colour);
    font-weight: bold;
    cursor: pointer;
    border-radius: 50%;
}

.time {
    position: relative;
    display: flex;
    justify-content: space-between;
    color: #cecece;
    font-weight: bold;
}

.time span {
    z-index: 9;
    display: block;
    padding: 0 5px;
    background: var(--main-light-colour);
}

.time:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 0;
    margin: auto;
    background: none;
    border-top: 2px dashed var(--main-accent-colour);
}

/* ---------------------------- [Skills section] ----------------------------
*/

/* ------------------------------------------------------------- [Skill list]
*/
.skills-list ul {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 50px;
}

.skill-item .skill-progress {
    display: block;
    height: 15px;
    margin: 5px 0;
    background: #1e202233;
    border-radius: 10px;
    overflow: hidden;
}

.skill-item .skill-progress:after {
    content: "";
    display: block;
    width: 80%;
    height: 100%;
    background: var(--main-accent-colour);
}

/* -------------------------- [Information section] --------------------------
*/

/* ------------------------------------------------------------------- [List]
*/
.information-list li {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 30px 0;
}

/* ------------------------------------------------------------ [Dashed line]
*/
.information-list li:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
    width: 100%;
    height: 0;
    margin: auto;
    background: none;
    border-top: 2px dashed var(--main-accent-colour);
}

/* ----------------------------------------------------------------- [Values]
*/
.information-list span {
    z-index: 9;
    display: block;
    padding: 0;
    font-size: 16px;
    background: var(--main-light-colour);
}

.information-list span:first-child {
    font-style: italic;
}

.information-list span:last-child {
    position: relative;
    top: 5px;
    font-weight: bold;
}

/* --------------------------- [Projects section] ---------------------------
*/

/* ------------------------------------------------------------------- [Menu]
*/
ul.projects-menu {
    display: flex;
    margin: 0 -15px;
}

.projects-menu li {
    display: inline-block;
    font-weight: 600;
    padding: 0 15px;
    margin-bottom: 16px;
    cursor: pointer;
}

.projects-menu a {
    position: relative;
}

.projects-menu li:first-child a:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -8px;
    width: 100%;
    height: 3px;
    background-color: var(--main-accent-colour);
    transform: scale3d(1, 1, 1);
    transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ------------------------------------------------------------------- [Grid]
*/
.projects-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
    margin-top: 30px;
}

/* -------------------------------------------------------------- [Grid item]
*/
.grid-item {
    position: relative;
}

.grid-item:before {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.grid-item-inner {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: hidden;
    border-radius: 5px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-item-heading {
    color: var(--main-light-colour);
    transform: translate3d(0, 100%, 0);
    transition: transform 600ms ease-in-out;
    z-index: 9;
    text-transform: uppercase;
}

.grid-item-inner img {
    display: block;
    width: 100%;
    transform: scale(1);
    transition: opacity 0.35s, transform 0.35s;
}

.grid-item-inner:hover img {
    transform: scale(1.08);
}

.grid-item-inner:hover .grid-item-heading {
    transform: translate3d(0, 0, 0);
}

.grid-item-inner:hover .grid-item-overlay {
    opacity: 1;
}

/* ----------------------------------------------------------- [Grid overlay]
*/
.grid-item-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9;
    transition: all 800ms ease-in-out;
    opacity: 0;
}

.grid-item-overlay a {
    padding: 15px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    opacity: 1 !important;
    z-index: 99;
}

.grid-item-overlay:before {
    content: "";
    background-color: var(--main-accent-colour);
    opacity: 0.7;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    pointer-events: none;
    z-index: 9;
}

/* ----------------------------- [Media queries] ----------------------------
*/

@media (min-width: 576px) {
    /* ----------------------------------------------------------- [Headings]
    */
    .heading-styled:before {
        bottom: 9px;
    }

    .section-heading {
        font-size: 42px;
        line-height: 60px;
    }

    /* ----------------------------------------------------- [Skills section]
    */
    .skills-list ul {
        grid-template-columns: 1fr 1fr;
    }

    /* ------------------------------------------------------- [Info section]
    */
    .information-list li {
        flex-direction: row;
    }

    .information-list span {
        padding: 0 10px;
    }

    .information-list span:first-child {
        font-weight: 400;
        color: var(--main-dark-colour);
    }

    .information-list span:last-child {
        top: 0;
    }

    .information-list li:before {
        top: unset;
        z-index: 1;
        height: 0;
    }
}

@media (min-width: 768px) {
    /* ------------------------------------------------- [Experience section]
    */
    .experience-list {
        grid-template-columns: repeat(5, 1fr);
        max-width: 100%;
    }

    .experience-list .point-wrapper {
        justify-content: flex-start;
    }

    .experience-list .point-wrapper:nth-child(odd):before {
        left: 0;
        right: 0;
        margin: auto;
    }

    .experience-list .point-wrapper:nth-child(even):before {
        width: 100%;
        left: 0;
        right: 0;
        margin: auto;
        transform: none;
    }

    .experience-list .point {
        height: 36px;
        width: 36px;
    }

    .experience-content {
        top: 0;
        left: -1px;
        z-index: 9999;
        width: 95%;
        height: 100%;
        transform-origin: 13px;
    }

    /* --------------------------------------------------- [Projects section]
    */
    .projects-wrapper {
        grid-gap: 30px;
    }

    .grid-item-overlay a {
        padding: 30px;
    }
}
@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

@media (max-width: 576px) {
}

/* ------------------------------ [Animations] ------------------------------
*/

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgb(247, 219, 97);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(247, 219, 97, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(247, 219, 97, 0);
    }
}
@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgb(247, 219, 97);
        box-shadow: 0 0 0 0 rgb(247, 219, 97);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(247, 219, 97, 0);
        box-shadow: 0 0 0 10px rgba(247, 219, 97, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(247, 219, 97, 0);
        box-shadow: 0 0 0 0 rgba(247, 219, 97, 0);
    }
}
