.section-inner {
    display: block;
    width: auto;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 100px;
}

.section-heading {
    display: block;
    max-width: 600px;
    margin-bottom: 30px;
    font-family: "IBM Plex Sans", sans-serif;
    color: #333;
    font-size: 42px;
    line-height: 60px;
    font-weight: 200;
    text-align: left;
}

.heading-right {
    text-align: end;
    margin-left: auto;
    margin-right: 0;
}

.heading-styled {
    position: relative;
    font-weight: 400;
}

.heading-styled:before {
    content: "";
    background: #f7db61;
    position: absolute;
    bottom: 9px;
    height: 11px;
    width: 100%;
    z-index: -1;
}

.section-heading + p {
    max-width: 600px;
    font-family: "IBM Plex Sans", sans-serif;
    color: #737373;
    font-size: 20px;
    line-height: 40px;
    font-weight: 300;
    text-align: left;
}

.header-link {
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
    font-weight: 400;
    display: inline-block;
    padding: 0 5px;
}

.history-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.history-list .point-wrapper {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}

.history-list .point {
    position: relative;
    height: 50px;
    width: 50px;
    background: #1d2022;
    border-radius: 25px;
    border: 2px solid #1d2022;
    cursor: pointer;
}

.history-list .point-wrapper:nth-child(odd):before {
    content: "";
    position: absolute;
    height: 5px;
    width: 100%;
    background: #1d2022;
    top: 0;
    bottom: 0;
    left: 50%;
    right: 0;
    margin: auto;
}

.history-list .point-wrapper:nth-child(even):before {
    content: "";
    position: absolute;
    height: 5px;
    width: 145%;
    background: #1d2022;
    top: 0;
    bottom: 0;
    left: 50%;
    right: 0;
    margin: auto;
    transform-origin: left;
    transform: rotate(-225deg);
}

.history-list .point-wrapper:last-child:before {
    background: none;
    height: 0;
    border-top: 5px dashed #1d2022;
}

.history-list .point-wrapper:last-child .point {
    background: #fff;
    border: 3px dashed #1d2022;
}

.history-list .point-wrapper:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.point:after {
    box-shadow: 0 0 0 rgb(247, 219, 97);
    animation: pulse 2s infinite;
}

.point:after {
    content: "";
    position: absolute;
    height: 10px;
    width: 10px;
    background: #f7db61;
    top: 0;
    border-radius: 25px;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    transition: all 500ms ease-in-out;
}

@media (min-width: 576px) {
    .history-list .point {
        height: 36px;
        width: 36px;
    }

    .history-list {
        grid-template-columns: repeat(5, 1fr);
    }

    .history-list .point-wrapper {
        justify-content: flex-start;
    }

    .history-list .point-wrapper:nth-child(odd):before {
        left: 0;
        right: 0;
        margin: auto;
    }

    .history-list .point-wrapper:nth-child(even):before {
        width: 100%;
        left: 0;
        right: 0;
        margin: auto;
        transform: none;
    }
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

@media (max-width: 576px) {
}

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgb(247, 219, 97);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(247, 219, 97, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(247, 219, 97, 0);
    }
}
@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgb(247, 219, 97);
        box-shadow: 0 0 0 0 rgb(247, 219, 97);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(247, 219, 97, 0);
        box-shadow: 0 0 0 10px rgba(247, 219, 97, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(247, 219, 97, 0);
        box-shadow: 0 0 0 0 rgba(247, 219, 97, 0);
    }
}

.skills-list ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
}

.skill-item {
}

.skill-item h4 {
}

.skill-item .skill-progress {
    height: 15px;
    display: block;
    border-radius: 10px;
    margin: 5px 0;
    background: #1e202233;
    overflow: hidden;
}

.skill-item .skill-progress:after {
    content: "";
    display: block;
    height: 100%;
    width: 80%;
    background: #f7da61;
}
